$color: white;
$heading_color: white;
$section_bg: #21232E;
$button_color: #E3AC00;
$text_color: #8F9EA7;
$block_for_mark_text_color: #FF4E33;
$section_card_bg: #3B3F50;
$linear_bg: linear-gradient(91.25deg, #DB9F09 0%, #9A384B 100%);
$header_img: url(../img/m-h-night.jpg);