$color: #232630;
$section_bg: white;
$heading_color: white;
$button_color: #699900;
$text_color: #8F9EA7;
$block_for_mark_text_color: #14A0C7;
$section_card_bg: #21232E;
$linear_bg: linear-gradient(91.25deg, #629218 0%, #315FC8 100%);
$header_img: url(../img/m-h-day.jpg);

